.background-title{
    background-image: url(Assets/img1.png);
    min-width: 100%;
    height: 700px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
} /*diseño del background y presentacion*/

.big-text{
    font-size: 60px;
} /*Tamaño del texto en el titulp, texto grande*/

.small-text{
    font-size: 40px;
} /*tamaño del texto en el titulo, texto pequeño*/

.title-page{
    color: #eee;
    text-shadow: 4px 3px #333;
} /*detalles del titulo*/

.section-black{
    min-width: 100%;
    min-height: 150px;
    background-color: #333;
    font-size: 50px;
    color: #fff;
    margin-bottom: 70px;
    text-shadow: 0px 0px 7px #66f; 
    box-shadow: 0px 0px 20px #fff;
    
    /*Seccion negra de la pagina inferior al titulo*/
}

.botton-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*forma en que se ve la seccion de los botones*/
}

.botton{
    height: 325px;
    width: 250px;
    border-radius: 7px;
    box-shadow: 0px 0px 15px #ccc;
    background-color: #ddd;
    color: #222;
    transition: 1.5s;
    align-items: center;
    text-align: center;
    padding: 10px /*configuracion general de los botones*/
}

.botton:hover{
    height: 335px;
    width: 265px;
    box-shadow: 0px 0px 25px #eee;
}

.botton-image{
    height: 205px;
    min-width: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; /*Configuracion de las imagenes*/
}

.botton1-image{
    background-image: url(Assets/CardProject.jpg);
}

.botton2-image{
    background-image: url(Assets/ParalaxProject.jpg);
}

.botton3-image{
    background-image: url(SuperXtraMarket/assets/fullxtra.png);
}


/*todo lo antrerior son las imagenes de los botones*/


.projectlink{
    text-decoration: none;
}

/*zona de contacto*/
.contact-info{
    height: 200px;
    min-width: 100%;
    display: flex;
    margin-top: 50px;
    box-shadow: 0px 0px 20px #fff;
}

.info{
    min-height: 100%;
    width: 50%;
    background-color: #555;
}

.contactme{
    border: 0px;
    border-right: 1px;
    border-color: #999;
    border-style: solid;
}

.aboutme{
    border: 0px;
    border-left: 1px;
    border-color: #999;
    border-style: solid;
    padding-left: 5px;
}





/*Todo lo que sigue son los ajustes generales de todo lo que no tiene estilos añadidos anteriormente*/
body, html {
    height: 100%;
    font-family: sans-serif;
    font-weight: 400;
    line-break: 1.8em;
    color: #ddd;
    font-size: 16px;
   background-color: #444;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

